@import url('../About/css/style.css');

.better-about {
  img {
    cursor: pointer;
  }
}

.better-about-dialog {
  .dijitDialogTitleBar {
    display: none;
  }
  .dijitDialogPaneContent {
    width: 100% !important;
    height: 100% !important;
    border: none;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
